@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter,
.question-mark,
.theyHLetter,
.becauseBLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter,
.exclamation-mark,
.becauseSLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter,
.hyphen,
.improveRLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter,
.skillsSTwoLetter,
.becauseELetter,
.developerPLetter {
  font-size: 40px;
  color: #008000;
  font-weight: 800;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
}

.didILetter,
.skillsLTwoLetter,
.becauseCLetter,
.takeTLetter {
  font-size: 90px;
  color: #000000;
  font-weight: 400;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.didDTwoLetter,
.skillsLLetter,
.becauseALetter {
  font-size: 30px;
  color: hsl(120, 43%, 17%);
  font-weight: 200;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* THE word */

.theTLetter,
.skillsILetter,
.becauseULetter,
.takeALetter {
  font-size: 46px;
  color: #806d00;
  font-weight: 300;
  text-decoration: underline dashed;
  text-transform: lowercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.theHLetter,
.skillsKLetter,
.theyTLetter,
.developerEThreeLetter {
  font-size: 100px;
  color: rgb(162, 141, 216);
  font-weight: 200;
  text-decoration: underline dotted;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
}

.theELetter,
.skillsSLetter,
.becauseETwoLetter,
.takeKLetter {
  font-size: 25px;
  color: rgb(0, 58, 128);
  font-weight: 700;
  text-decoration: overline dashed #fff;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* FRONT-END word */

.frontendFLetter,
.theirELetter,
.theyELetter,
.takeELetter {
  font-size: 40px;
  color: rgb(234, 234, 234);
  font-weight: normal;
  text-decoration: underline solid 3px red;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
}

.frontendRLetter,
.rootRLetter,
.theyYLetter,
.gardeningALetter {
  font-size: 40px;
  color: rgb(255, 64, 150);
  font-weight: bold;
  text-decoration: line-through dotted;
  text-transform: capitalize;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

.frontendOLetter,
.improveVLetter,
.wantedWLetter,
.gardeningILetter {
  font-size: 70px;
  color: green;
  font-weight: 800;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
}

.theirRLetter,
.frontendNLetter,
.wantedTLetter,
.gardeningNLetter {
  font-size: 68px;
  color: rgb(153, 199, 37);
  font-weight: lighter;
  text-decoration: line-through dotted green;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
}

.frontendTLetter,
.toTLetter,
.theirILetter,
.developerRLetter {
  font-size: 60px;
  color: rgb(43, 255, 227);
  font-weight: 100;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.frontendELetter,
.theirTLetter,
.improveMLetter,
.gardeningRLetter {
  font-size: 40px;
  color: rgb(34, 88, 34);
  font-weight: 400;
  text-decoration: underline overline line-through 2px red;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
}

.frontendNTwoLetter,
.frontendDLetter,
.wantedALetter,
.gardeningNTwoLetter {
  font-size: 40px;
  color: rgb(61, 168, 61);
  font-weight: 500;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
}

/* DEVELOPER word */

.developerDLetter,
.theirHLetter,
.toOLetter,
.gardeningGTwoLetter {
  font-size: 90px;
  color: rgb(78, 97, 78);
  font-weight: 10000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

.developerELetter,
.improveOLetter,
.wantedELetter,
.upULetter {
  font-size: 70px;
  color: rgb(64, 93, 132);
  font-weight: 800;
  text-decoration: underline line-through 5px blue;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
}

.developerVLetter,
.rootOLetter,
.wantedDLetter,
.gardeningGLetter {
  font-size: 80px;
  color: rgb(255, 227, 49);
  font-weight: 800;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
}

.developerETwoLetter,
.rootOTwoLetter,
.wantedNLetter,
.gardeningDLetter {
  font-size: 60px;
  color: rgb(57, 171, 57);
  font-weight: 500;
  text-decoration: overline palegoldenrod;
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.developerLLetter,
.rootTLetter,
.improvePLetter,
.gardeningELetter {
  font-size: 40px;
  color: green;
  font-weight: 800;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Times New Roman", Times, serif;
}

.developerOLetter,
.improveELetter,
.improveELetter,
.upPLetter {
  font-size: 30px;
  color: green;
  font-weight: 900;
  text-decoration: line-through overline;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
}
